@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* light and dark mode */
  --primary-color: 59, 130, 246;
  --secondary-color: 37, 99, 235;

  /* light mode */
  --light-bg: 255, 255, 255;
  --light-text-primary: 11, 11, 11;
  --light-text-secondary: 75, 85, 99; 

  /* dark mode */
  --dark-bg: 17,17,17;
  --dark-text-primary: 255,255,255;
  --dark-text-secondary: 209, 213, 219;
}

* {
  box-sizing: border-box;
}

html {
  --color-primary: rgb(var(--primary-color));
  --color-secondary: rgb(var(--secondary-color));
  --background: rgb(var(--light-bg));
  --text-primary: rgb(var(--light-text-primary));
  --text-secondary: rgb(var(--light-text-secondary));
}

html.dark {
  --color-primary: rgb(var(--primary-color));
  --color-secondary: rgb(var(--secondary-color));
  --background: rgb(var(--dark-bg));
  --text-primary: rgb(var(--dark-text-primary)); 
  --text-secondary: rgb(var(--dark-text-secondary));
}

body {
  overflow-x: hidden;
  margin: 0;
}